/* Standard design */
* {
    margin: 0;
    padding: 0;
    font-family: "Dialog";
    color: #000000;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.navbar-brand {
    position: center;
}

.navbar {
    background-size: cover;
    border-radius: 15px;
}

/* FOOTER */
.panel-footer {
    padding: 1px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}


/* Frontpage design */
.frontpage {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/johannesfogbg.png);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    /*color: whitesmoke;*/
}

h4 {
    text-align: center;
    /*color: whitesmoke;*/

}

.booking-form-box {
    position: relative;
    bottom: 100px;
    max-width: 450px;
    border: 1px solid #3e84bb;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 10% auto 0;
    border-radius: 25px;
}


.dropdown {
    position: relative;
    display: block;

}

.dropdown-content {
    position: center;
    text-align: left;
    background-color: #377ea4;
    min-width: 160px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 0 20px 20px;
    border-radius: 20px;

}


label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
}


select {
    width: 175px;
}



/* Receipt design */
.receiptdesign {
    position: relative;
    max-width: 950px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 1% auto 0;
    border-radius: 25px;
    background-color: whitesmoke;

}

.receiptbg {
    /*background-image: url(../images/cartbg2.png);*/
    /*background-size: cover;*/
}

#proceedbt {
    background-color: #c4bba3;
    min-height: 50px;
    width: 225px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
}

