/* Standard design */
* {
    margin: 0;
    padding: 0;
    font-family: "Dialog";
    color: #000000;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
    color: whitesmoke;
}

.navbar-brand {
    position: center;
}

.navbar {
    background-size: cover;
    border-radius: 15px;
}

/* FOOTER */
.panel-footer {
    padding: 1px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}


/* Frontpage design */
.frontpage {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/fogbg2.png);
    background-size: 1500px 800px;
    background-position: center;
    background-repeat: no-repeat;
}

.booking-form-box {
    max-width: 350px;
    position: relative;
    bottom: 100px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;
}

.dropdown-content {
    position: center;
    text-align: left;
    min-width: 160px;
    padding: 0 20px 20px;

}

label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
    color: whitesmoke;
}

/* Login page */
.login {
    position: relative;
    max-width: 550px;
    min-height: 300px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 1% auto 0;
    border-radius: 25px;
    background-image: url(../images/foglogin.png);
    background-size: cover;
}

.form {
    max-width: 400px;
}

input {
    margin-bottom: 4px;
}

.form-control {
    border-radius: 0px;
    text-transform: none !important;
}

.form-control:focus {
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);

}

.opretBruger {
    text-decoration-line: none;
}

/* Receipt design */
.receiptdesign {
    position: relative;
    max-width: 950px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 1% auto 0;
    border-radius: 25px;
    background-color: whitesmoke;

}

.receiptbg {
    /*background-image: url(../images/cartbg2.png);*/
    /*background-size: cover;*/
}

#proceedbt {
    background-color: #f6e4b2;
    min-height: 50px;
    width: 225px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
}

/* Product Edit Design */
.productedit {
    position: relative;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 1% auto 0;
    border-radius: 25px;
    background-image: url(../images/blue.png);
    background-size: 1500px 500px;
    background-position: center;
    background-repeat: no-repeat;
}
